.header{
    font-size:xx-large;
}

/* search heading */
.search{
    /* background-color: burlywood; */
    font-size: x-large;
}

.city{
    font-size: 200%;
}
/* add space between search-input and button */
.submit{
    margin: 5% auto;
}
.historyTitle {
    font-size: large;
    text-align: center;
    border-top: 2px solid black;
}

.card{
    margin-left:1%;
    margin-right: 1%;
    width: 20%;
}
span {
    content: "\2109";
  }

.bgYellow{
    background: yellow;
}


.bgPurple {
    background: purple;
}

/* .form{
     border-bottom: 1px solid black;
} */