/* increase page title */
.header{
    font-size:xx-large;
}

/* search heading */
.search{
    /* background-color: burlywood; */
    font-size: x-large;
}

/* city name-title */
.city{
    font-size: 200%;
}
/* add space between search-input and button */

/* adjust submit button */
.submit{
    margin: 5% auto;
}

/*  */
.historyTitle {
    font-size: large;
    text-align: center;
    border-top: 2px solid black;
}

/* adjust card width */
.card{
    margin-left:1%;
    margin-right: 1%;
    width: 20%;
}

/* background for uv */
.bgYellow{
    background: yellow;
}

.bgPurple {
    background: purple;
}

span {
    content: "\2109";
}
